html {
    background-image: url('https://i.pinimg.com/736x/f5/7e/e7/f57ee7677c1afa517b82daefc9e01f9d.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.form-content label,
.form-content select,
.form-content p {
    display: block;
    margin-bottom: 6px;
}

.form-content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.form-content label {
    min-width: 120px;
}